@font-face {
    font-family:Vazirmatn ;
    src: url(../fonts/webfonts/Vazirmatn-Regular.woff2);
}
body {
    font-family: Vazirmatn, sans-serif;
    background-color: #fbf8f6;
    
}
.App{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}